<form action="<%=user_url%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<label> username
<input type="text" name="user[username]" value="<%=@user.username%>"></label>
<br/>

<label> password
<input type="password" name="user[password]" value=""></label>
<br/>

<input type="submit" value="EDIT USER">
</form>