<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span><a href="#">sections</a></span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span><a href="#">search</a></span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
			<ul class="header-list" id="buttons">
				<li><button type="button"><a href="#">Subscribe Now</a></button></li>
				<li><button type="button"><a href="#">Log In</a></button></li>
				<li><span id="gear">&#9881;</span></li>
			</ul>
	</nav>
</header>