/* PHASE 0: Sidebar */
.profile-picture{
  display: block;
  margin-top: -120px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}

.profile-info{
  margin: 20px 0;
}

.profile-info > h2{
  font-weight: 700;
  font-size: 24px;
}

.profile-info > p{
  margin:20px 0;
}

.profile-nav {
  margin: 20px 0;
}

.profile-nav >li {
  border-bottom: 1px solid rgb(128, 28, 28);
}

.profile-nav > li:first-child{
  border-top: 1px solid rgb(128, 28, 28);
}

.profile-nav a{
  display: block;
  padding: 5px;
  font-weight: 700;
}

.profile-nav a:hover {
  background: gray;
}
